<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{site.name}}</title>
        <meta name="description" content="meta description is this">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="/myicon.png">
        <link href='http://fonts.googleapis.com/css?family=Arvo:400,700|PT+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/style.css">    </head>
    <body>
       
      <!-- you don't really need to pull in content to this page from somewhere else, since it's just a deafult page with links to other places. -->
      
        <header>
           
        <h1 class="masthead">bryce johnson</h1>
        
        <nav class="main-menu">   
          <a href="/about/index.html" class="mm-link">about</a>
          <a href="/" class="mm-link">blog</a>
          <a href="https://github.com/brycepj" class="mm-link">github</a>
          <a href="https://twitter.com/_brycepj" class="mm-link">twitter</a> 
        </nav>

      </header>
