/* Layout rules divide the page into sections, such as 'header', 'footer', 'sidebar' and 'main content'. Layouts hold one or more modules together. This is the time to use ID's and to set width, float, and height properties. Generally, a layout style only has a single selector: a single ID or class name.  */



.main {
	padding:1em 0;
}

.content {
	display:block;
	width:96%; max-width: 1250px;
	margin:0 auto;
	padding:0 .25em;
	
}

.post {
	display:block;
	max-width:900px;
	margin:1em auto;
	padding:1em 2em;

	@include bp-max(940px) {
		margin:1em 1em;
		padding:1em 2em;
	}
}