


.main {
	padding:1em 0;
}

.content {
	display:flex;
    justify-content: center;
	width:96%; 
	margin:0 auto;
	padding:0 .25em;
    min-height:1000px;

}

.post {
	display:block;
    min-height:1000px;
	max-width:900px;
	margin:1em auto;
	padding:1em 2em;

	@include bp-max(940px) {
		margin: 1em 1em;
		padding:1em 2em;
	}

	@include bp-max(640px) {
		padding:1em;

	}


}