/* SWATCH */

$blue-dark:rgb(60, 141, 197);
$blue-medium: rgb(111, 183, 233);
$blue-light: rgb(178, 209, 229);

$blue-white:rgb(233, 242, 249);
$black:  lighten(#111,20%);
$gray:rgb(102, 102, 106);
$green: rgb(129, 189, 31);

/* Defaults */

$aqua:  #7FDBFF;
$blue:  #0074D9;
$navy:  #001F3F;
$teal:  #39CCCC;

$olive: #3D9970;
$lime:  #01FF70;



$yellow:  #FFDC00;
$orange:  #FF851B;
$red:     #FF4136;
$fuchsia: #F012BE;
$purple:  #B10DC9;
$maroon:  #85144B;


$white:  #fff;
$silver: #ddd;

